In [65]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import datetime

In [66]:
engine = create_engine("mysql+mysqldb://root:s3cretPASS@rookie.red:6033/lukas_db")

In [72]:
stock_data = pd.read_csv('Stockreturn.csv')
return_data = pd.read_csv('OutstandingShares.csv')
mapping_data = pd.read_csv('Companyprofiles.csv')

In [87]:
columns = ['Ticker', 'time', 'Open', 'High', 'Low','Close']
stock_data = stock_data[columns]
stock_data.head(15)

     Ticker      time  Open  High   Low  Close
0   AALB.AS  20200401 20.92 26.48 20.53  25.70
1   AALB.AS  20200801  0.00  0.00  0.00   0.00
2   AALB.AS  20191201 38.59 40.92 37.08  40.01
3   AALB.AS  20200201 39.57 43.11 32.96  33.75
4   AALB.AS  20200101 40.01 41.06 39.13  39.52
5   AALB.AS  20200701 29.30 32.20 28.50  30.19
6   AALB.AS  20200601 25.00 30.89 24.75  29.19
7   AALB.AS  20200301 34.51 34.68 16.16  21.64
8   AALB.AS  20200501 24.74 25.60 21.15  24.65
9   AALB.AS  20191101 36.15 39.80 36.01  38.45
10  AALB.AS  20191001 36.40 37.96 34.05  36.06
11   ABN.AS  20200401  7.24  8.30  6.23   7.00
12   ABN.AS  20200801  0.00  0.00  0.00   0.00
13   ABN.AS  20191201 15.50 16.44 14.91  16.22
14   ABN.AS  20200201 15.78 16.95 12.28  12.44

In [74]:
#Left merge tables on ticker
new_table = stock_data.merge(right = return_data, on='Ticker', how='left')
new_table.head(5)

#Left merge tables on ticker to add industry mappings
new_table = mapping_data.merge(right = new_table, on='Ticker', how='left')
new_table.head(5)
new_table.time = new_table.time.fillna(0).astype(int)

In [75]:
new_table = new_table[new_table['time'] !=0]

In [76]:
new_table.time = new_table.time.fillna(0).astype(int).apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d')  )

In [77]:
#Change all column names to lower case
new_table.columns= new_table.columns.str.lower()
new_table.head(5)

,company,full time employees,industry,sector(s),ticker,time,open,high,low,close,unnamed: 0,index,basic average shares
0,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-04-01,20.92,26.48,20.53,25.70,2.00,"2,019.00","110,580.00"
1,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-08-01,0.00,0.00,0.00,0.00,2.00,"2,019.00","110,580.00"
2,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2019-12-01,38.59,40.92,37.08,40.01,2.00,"2,019.00","110,580.00"
3,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-02-01,39.57,43.11,32.96,33.75,2.00,"2,019.00","110,580.00"
4,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-01-01,40.01,41.06,39.13,39.52,2.00,"2,019.00","110,580.00"

In [78]:
#Calculate market value
new_table['market value low'] = new_table['low'] * new_table['basic average shares']
new_table['market value high'] = new_table['high'] * new_table['basic average shares']
new_table['difference'] = new_table['market value high'] - new_table['market value low']
new_table['percentage change'] = (new_table['market value high'] - new_table['market value low']) / new_table['market value low'] * 100
new_table.head(5)

,company,full time employees,industry,sector(s),ticker,time,open,high,low,close,unnamed: 0,index,basic average shares,market value low,market value high,difference,percentage change
0,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-04-01,20.92,26.48,20.53,25.70,2.00,"2,019.00","110,580.00","2,270,207.40","2,928,158.40","657,951.00",28.98
1,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-08-01,0.00,0.00,0.00,0.00,2.00,"2,019.00","110,580.00",0.00,0.00,0.00,nan
2,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2019-12-01,38.59,40.92,37.08,40.01,2.00,"2,019.00","110,580.00","4,100,306.40","4,524,933.60","424,627.20",10.36
3,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-02-01,39.57,43.11,32.96,33.75,2.00,"2,019.00","110,580.00","3,644,716.80","4,767,103.80","1,122,387.00",30.79
4,Aalberts N.V.,"16,094",Specialty Industrial Machinery,Industrials,AALB.AS,2020-01-01,40.01,41.06,39.13,39.52,2.00,"2,019.00","110,580.00","4,326,995.40","4,540,414.80","213,419.40",4.93

In [79]:
df = new_table.groupby(['time'])['market value low','market value high', 'difference'].sum().reset_index()
df['percentage change'] = df['difference'] / df['market value low'] * 100
df

,time,market value low,market value high,difference,percentage change
0,2019-10-01,"1,234,301,108.30","1,354,831,722.23","120,530,613.93",9.77
1,2019-11-01,"1,270,707,975.59","1,363,209,784.26","92,501,808.67",7.28
2,2019-12-01,"1,265,098,959.77","1,370,786,551.14","105,687,591.36",8.35
3,2020-01-01,"1,252,614,007.69","1,404,959,092.14","152,345,084.45",12.16
4,2020-02-01,"1,120,767,484.08","1,377,524,679.38","256,757,195.30",22.91
5,2020-03-01,"735,755,915.06","1,211,430,582.95","475,674,667.89",64.65
6,2020-04-01,"907,701,392.22","1,104,870,704.68","197,169,312.46",21.72
7,2020-05-01,"946,846,849.94","1,121,020,554.51","174,173,704.57",18.40
8,2020-06-01,"1,031,724,433.11","1,207,374,872.95","175,650,439.84",17.02
9,2020-07-01,"1,033,223,470.74","1,189,279,215.93","156,055,745.19",15.10
10,2020-08-01,0.00,0.00,0.00,nan

In [80]:
df2 = new_table.groupby(['sector(s)', 'time'])['market value low','market value high', 'difference',].sum().reset_index()
df2['percentage change'] = df2['difference'] / df2['market value low'] * 100
df2

,sector(s),time,market value low,market value high,difference,percentage change
0,Basic Materials,2019-10-01,"58,547,307.06","65,119,071.59","6,571,764.53",11.22
1,Basic Materials,2019-11-01,"61,169,522.68","69,657,046.20","8,487,523.52",13.88
2,Basic Materials,2019-12-01,"64,601,611.30","71,149,636.70","6,548,025.40",10.14
3,Basic Materials,2020-01-01,"62,200,455.08","70,337,216.52","8,136,761.44",13.08
4,Basic Materials,2020-02-01,"56,935,327.35","71,410,144.64","14,474,817.30",25.42
5,Basic Materials,2020-03-01,"37,632,232.23","62,181,893.19","24,549,660.96",65.24
6,Basic Materials,2020-04-01,"45,913,305.27","58,161,360.58","12,248,055.31",26.68
7,Basic Materials,2020-05-01,"50,001,380.59","59,433,024.65","9,431,644.05",18.86
8,Basic Materials,2020-06-01,"54,654,726.92","62,712,806.27","8,058,079.36",14.74
9,Basic Materials,2020-07-01,"58,358,739.58","64,416,755.05","6,058,015.47",10.38
10,Basic Materials,2020-08-01,0.00,0.00,0.00,nan
11,Communication Services,2019-10-01,"140,857,830.80","156,845,410.21","15,987,579.41",11.35
12,Communication Services,2019-11-01,"141,431,630.13","152,519,734.92","11,088,104.79",7.84
13,Communication Services,2019-12-01,"140,869,918.48","158,158,481.70","17,288,563.22",12.27
14,Communication Services,2020-01-01,"150,650,036.64","168,814,828.75","18,164,792.11",12.06
15,Communication Services,2020-02-01,"141,236,975.80","171,476,046.47","30,239,070.66",21.41
16,Communication Services,2020-03-01,"102,532,395.54","152,870,899.10","50,338,503.56",49.10
17,Communication Services,2020-04-01,"127,660,596.60","152,289,411.10","24,628,814.50",19.29
18,Communication Services,2020-05-01,"139,970,346.79","168,076,989.77","28,106,642.98",20.08
19,Communication Services,2020-06-01,"149,264,690.57","171,578,961.79","22,314,271.22",14.95
20,Communication Services,2020-07-01,"154,533,476.72","176,182,456.65","21,648,979.92",14.01
21,Communication Services,2020-08-01,0.00,0.00,0.00,nan
22,Consumer Cyclical,2019-10-01,"9,867,922.62","10,366,271.27","498,348.66",5.05
23,Consumer Cyclical,2019-11-01,"10,027,972.88","10,647,013.90","619,041.02",6.17
24,Consumer Cyclical,2019-12-01,"10,291,131.93","10,678,554.05","387,422.12",3.76
25,Consumer Cyclical,2020-01-01,"10,425,749.83","10,858,914.17","433,164.34",4.15
26,Consumer Cyclical,2020-02-01,"10,088,051.09","10,875,679.61","787,628.52",7.81
27,Consumer Cyclical,2020-03-01,"5,625,836.69","10,398,490.22","4,772,653.53",84.83
28,Consumer Cyclical,2020-04-01,"7,211,088.88","8,731,321.70","1,520,232.83",21.08
29,Consumer Cyclical,2020-05-01,"7,874,974.14","9,199,001.61","1,324,027.47",16.81
...,...,...,...,...,...,...
91,Real Estate,2020-01-01,"32,463,056.31","36,830,462.14","4,367,405.83",13.45
92,Real Estate,2020-02-01,"29,991,281.72","35,799,107.71","5,807,826.00",19.37
93,Real Estate,2020-03-01,"16,014,507.69","32,027,179.42","16,012,671.73",99.99
94,Real Estate,2020-04-01,"16,843,104.75","22,484,991.89","5,641,887.15",33.50
95,Real Estate,2020-05-01,"15,721,324.62","19,397,865.19","3,676,540.57",23.39
96,Real Estate,2020-06-01,"17,780,507.05","23,599,301.95","5,818,794.90",32.73
97,Real Estate,2020-07-01,"17,702,642.13","20,934,044.43","3,231,402.30",18.25
98,Real Estate,2020-08-01,0.00,0.00,0.00,nan
99,Technology,2019-10-01,"118,097,029.35","134,001,551.53","15,904,522.18",13.47
100,Technology,2019-11-01,"128,532,217.67","138,096,120.25","9,563,902.57",7.44
101,Technology,2019-12-01,"130,564,151.10","147,012,959.41","16,448,808.31",12.60
102,Technology,2020-01-01,"139,892,501.71","154,288,462.29","14,395,960.58",10.29
103,Technology,2020-02-01,"134,572,218.63","164,450,405.22","29,878,186.59",22.20
104,Technology,2020-03-01,"100,874,952.29","150,345,792.54","49,470,840.25",49.04
105,Technology,2020-04-01,"122,327,754.63","157,293,382.90","34,965,628.27",28.58
106,Technology,2020-05-01,"141,190,606.16","173,291,684.69","32,101,078.53",22.74
107,Technology,2020-06-01,"165,551,136.89","191,544,521.03","25,993,384.14",15.70
108,Technology,2020-07-01,"175,757,293.92","207,181,211.49","31,423,917.57",17.88
109,Technology,2020-08-01,0.00,0.00,0.00,nan
110,Utilities,2019-10-01,"4,399.60","5,169.53",769.93,17.50
111,Utilities,2019-11-01,"4,564.59","5,059.54",494.95,10.84
112,Utilities,2019-12-01,"4,454.60","6,324.43","1,869.83",41.98
113,Utilities,2020-01-01,"6,324.43","9,954.10","3,629.67",57.39
114,Utilities,2020-02-01,"4,949.55","8,249.25","3,299.70",66.67
115,Utilities,2020-03-01,"4,949.55","6,599.40","1,649.85",33.33
116,Utilities,2020-04-01,"4,399.60","5,389.51",989.91,22.50
117,Utilities,2020-05-01,"4,427.10","4,839.56",412.46,9.32
118,Utilities,2020-06-01,"3,849.65","4,812.06",962.41,25.00
119,Utilities,2020-07-01,"3,822.15","4,619.58",797.43,20.86
120,Utilities,2020-08-01,0.00,0.00,0.00,nan

In [84]:
df2.to_sql('market_values_by_industry',engine)

In [86]:
# df4 = new_table.groupby(['sector(s)', 'time'])['percentage change'].sum().reset_index()
# df4 = new
df2[df2['time'].isin(['2020-03-01', '2019-10-01'])]

,sector(s),time,market value low,market value high,difference,percentage change
0,Basic Materials,2019-10-01,"58,547,307.06","65,119,071.59","6,571,764.53",11.22
5,Basic Materials,2020-03-01,"37,632,232.23","62,181,893.19","24,549,660.96",65.24
11,Communication Services,2019-10-01,"140,857,830.80","156,845,410.21","15,987,579.41",11.35
16,Communication Services,2020-03-01,"102,532,395.54","152,870,899.10","50,338,503.56",49.10
22,Consumer Cyclical,2019-10-01,"9,867,922.62","10,366,271.27","498,348.66",5.05
27,Consumer Cyclical,2020-03-01,"5,625,836.69","10,398,490.22","4,772,653.53",84.83
33,Consumer Defensive,2019-10-01,"261,767,121.81","284,149,438.10","22,382,316.29",8.55
38,Consumer Defensive,2020-03-01,"192,094,732.74","263,667,440.14","71,572,707.41",37.26
44,Energy,2019-10-01,"424,207,563.18","452,402,841.30","28,195,278.12",6.65
49,Energy,2020-03-01,"167,181,289.15","344,291,807.61","177,110,518.46",105.94
55,Financial Services,2019-10-01,"97,391,755.73","109,926,347.74","12,534,592.01",12.87
60,Financial Services,2020-03-01,"53,134,363.13","95,923,922.01","42,789,558.88",80.53
66,Healthcare,2019-10-01,"43,951,613.59","51,375,274.78","7,423,661.18",16.89
71,Healthcare,2020-03-01,"33,853,085.79","50,619,670.26","16,766,584.47",49.53
77,Industrials,2019-10-01,"46,517,821.11","53,844,878.96","7,327,057.85",15.75
82,Industrials,2020-03-01,"26,807,570.27","49,096,889.07","22,289,318.79",83.15
88,Real Estate,2019-10-01,"33,090,743.46","36,795,467.23","3,704,723.77",11.20
93,Real Estate,2020-03-01,"16,014,507.69","32,027,179.42","16,012,671.73",99.99
99,Technology,2019-10-01,"118,097,029.35","134,001,551.53","15,904,522.18",13.47
104,Technology,2020-03-01,"100,874,952.29","150,345,792.54","49,470,840.25",49.04
110,Utilities,2019-10-01,"4,399.60","5,169.53",769.93,17.50
115,Utilities,2020-03-01,"4,949.55","6,599.40","1,649.85",33.33

In [26]:
times = ['2020-03-01', '2019-10-01']
df5 = df4[df4.time.isin(times)]#.groupby('sector(s)', 'time').sum()
df5

                  sector(s)       time     difference
0           Basic Materials 2019-10-01   6,571,764.53
5           Basic Materials 2020-03-01  24,549,660.96
11   Communication Services 2019-10-01  15,987,579.41
16   Communication Services 2020-03-01  50,338,503.56
22        Consumer Cyclical 2019-10-01     498,348.66
27        Consumer Cyclical 2020-03-01   4,772,653.53
33       Consumer Defensive 2019-10-01  22,382,316.29
38       Consumer Defensive 2020-03-01  71,572,707.41
44                   Energy 2019-10-01  28,195,278.12
49                   Energy 2020-03-01 177,110,518.46
55       Financial Services 2019-10-01  12,534,592.01
60       Financial Services 2020-03-01  42,789,558.88
66               Healthcare 2019-10-01   7,423,661.18
71               Healthcare 2020-03-01  16,766,584.47
77              Industrials 2019-10-01   7,327,057.85
82              Industrials 2020-03-01  22,289,318.79
88              Real Estate 2019-10-01   3,704,723.77
93              Real Estate 2020-03-01  16,012,671.73
99               Technology 2019-10-01  15,904,522.18
104              Technology 2020-03-01  49,470,840.25
110               Utilities 2019-10-01         769.93
115               Utilities 2020-03-01       1,649.85

In [83]:
sqldf = pd.read_sql_table('benchmarks', engine)
sqldf.head(5)

   index  Adj Close**  Close   High    Low   Open  Ticker      time
0      0       153.23 157.00 162.00 135.50 137.00  BP0A.L  20200401
1      1       165.00 165.00 170.00 158.00 164.00  BP0A.L  20200801
2      2       165.00 165.00 169.00 169.00 169.00  BP0A.L  20200820
3      3       152.25 160.00 164.50 156.58 159.00  BP0A.L  20191201
4      4       146.88 150.50 165.99 146.00 163.00  BP0A.L  20200201

In [88]:
covid_data = pd.read_csv('COVID-19_casus_landelijk.csv')
covid_data.head(5)

,Date_file,Date_statistics,Date_statistics_type,Agegroup,Sex,Province,Hospital_admission,Deceased,Week_of_death,Municipal_health_service
0,2020-08-20 10:00:00,2020-01-01,DOO,40-49,Female,Noord-Holland,No,No,nan,GGD Amsterdam
1,2020-08-20 10:00:00,2020-01-20,DOO,50-59,Female,Gelderland,No,No,nan,GGD Gelderland-Zuid
2,2020-08-20 10:00:00,2020-01-29,DOO,80-89,Male,Overijssel,No,No,nan,GGD Regio Twente
3,2020-08-20 10:00:00,2020-01-31,DOO,80-89,Male,Noord-Brabant,Yes,Yes,"202,015.00",GGD Brabant Zuid-Oost
4,2020-08-20 10:00:00,2020-01-31,DOO,90,Female,Noord-Holland,No,No,nan,GGD Amsterdam

In [90]:
covid_data.to_sql('covid', engine)