In [2]:
import pandas as pd

In [34]:
#Import data, check its worked
stock_data = pd.read_csv('/Users/ninahew/Ironhack_project2_NinaLukas/Stockreturn.csv')
return_data = pd.read_csv('/Users/ninahew/Ironhack_project2_NinaLukas/Stockearnings.csv')
stock_data.head(5)
return_data.head(1)

,Unnamed: 0,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,Ticker
0,Q1 2020,"27,189,000","20,210,000","6,979,000","6,122,000","857,000","-402,000","346,000","76,000","273,000",...,-,"20,210,000","2,987,000","290,000","-35,000","-35,000","3,753,000",0,"-7,700",AF.PA

In [59]:
#Double check the data type
type(stock_data)

pandas.core.frame.DataFrame

In [60]:
#Drop unnecessary data
columns = ['Ticker', 'time', 'Open', 'High', 'Low','Close']
stock_data = stock_data[columns]
stock_data.head(10)

    Ticker      time   Open   High    Low  Close
0  AALB.AS  20200401  20.92  26.48  20.53  25.70
1  AALB.AS  20191201  38.59  40.92  37.08  40.01
2  AALB.AS  20200201  39.57  43.11  32.96  33.75
3  AALB.AS  20200101  40.01  41.06  39.13  39.52
4  AALB.AS  20200601  25.00  30.89  24.75  29.19
5  AALB.AS  20200301  34.51  34.68  16.16  21.64
6  AALB.AS  20200501  24.74  25.60  21.15  24.65
7  AALB.AS  20191101  36.15  39.80  36.01  38.45
8  AALB.AS  20191001  36.40  37.96  34.05  36.06
9   ABN.AS  20200401   7.24   8.30   6.23   7.00

In [61]:
#Left merge tables on ticker
new_table = stock_data.merge(right = return_data, on='Ticker', how='left', indicator=True)
new_table.head(5)

,Ticker,time,Open,High,Low,Close,Unnamed: 0,Total Revenue,Cost of Revenue,Gross Profit,...,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,_merge
0,AALB.AS,20200401,20.92,26.48,20.53,25.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,AALB.AS,20191201,38.59,40.92,37.08,40.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,AALB.AS,20200201,39.57,43.11,32.96,33.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,AALB.AS,20200101,40.01,41.06,39.13,39.52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AALB.AS,20200601,25.00,30.89,24.75,29.19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [62]:
#Change all column names to lower case
new_table.columns= new_table.columns.str.lower()
new_table.head(5)

,ticker,time,open,high,low,close,unnamed: 0,total revenue,cost of revenue,gross profit,...,ebitda,reconciled cost of revenue,reconciled depreciation,net income from continuing operation net minority interest,total unusual items excluding goodwill,total unusual items,normalized ebitda,tax rate for calcs,tax effect of unusual items,_merge
0,AALB.AS,20200401,20.92,26.48,20.53,25.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,AALB.AS,20191201,38.59,40.92,37.08,40.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,AALB.AS,20200201,39.57,43.11,32.96,33.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,AALB.AS,20200101,40.01,41.06,39.13,39.52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AALB.AS,20200601,25.00,30.89,24.75,29.19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [65]:
#Calculate market value
new_table['market value'] = new_table['close'] * new_table['basic average shares']
new_table.head(5)

,ticker,time,open,high,low,close,unnamed: 0,total revenue,cost of revenue,gross profit,...,reconciled cost of revenue,reconciled depreciation,net income from continuing operation net minority interest,total unusual items excluding goodwill,total unusual items,normalized ebitda,tax rate for calcs,tax effect of unusual items,_merge,market value
0,AALB.AS,20200401,20.92,26.48,20.53,25.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
1,AALB.AS,20191201,38.59,40.92,37.08,40.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
2,AALB.AS,20200201,39.57,43.11,32.96,33.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
3,AALB.AS,20200101,40.01,41.06,39.13,39.52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN
4,AALB.AS,20200601,25.00,30.89,24.75,29.19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,NaN

In [66]:
summary_columns = ['ticker', 'time', 'close', 'total revenue', 'gross profit', 'market value']
summary_table = new_table[summary_columns]
summary_table.head(5)

    ticker      time  close total revenue gross profit market value
0  AALB.AS  20200401  25.70           NaN          NaN          NaN
1  AALB.AS  20191201  40.01           NaN          NaN          NaN
2  AALB.AS  20200201  33.75           NaN          NaN          NaN
3  AALB.AS  20200101  39.52           NaN          NaN          NaN
4  AALB.AS  20200601  29.19           NaN          NaN          NaN

In [77]:
#Group by tickers and time
sorted_summary_table = summary_table.sort_values(by =['ticker', 'time'], ascending = True )
sorted_summary_table.head(15)

      ticker      time  close total revenue gross profit market value
170   AAA.AS  20191001   0.12           NaN          NaN          NaN
169   AAA.AS  20191101   0.10           NaN          NaN          NaN
163   AAA.AS  20191201   0.10           NaN          NaN          NaN
165   AAA.AS  20200101   0.11           NaN          NaN          NaN
164   AAA.AS  20200201   0.12           NaN          NaN          NaN
167   AAA.AS  20200301   0.08           NaN          NaN          NaN
162   AAA.AS  20200401   0.07           NaN          NaN          NaN
168   AAA.AS  20200501   0.06           NaN          NaN          NaN
166   AAA.AS  20200601   0.08           NaN          NaN          NaN
8    AALB.AS  20191001  36.06           NaN          NaN          NaN
7    AALB.AS  20191101  38.45           NaN          NaN          NaN
1    AALB.AS  20191201  40.01           NaN          NaN          NaN
3    AALB.AS  20200101  39.52           NaN          NaN          NaN
2    AALB.AS  20200201  33.75           NaN          NaN          NaN
5    AALB.AS  20200301  21.64           NaN          NaN          NaN