In [2]:
import pandas as pd

In [24]:
stock_data = pd.read_csv('/Users/ninahew/Ironhack_project2_NinaLukas/Stockreturn.csv')
return_data = pd.read_csv('/Users/ninahew/Ironhack_project2_NinaLukas/Stockearnings.csv')
stock_data.head(5)

   Unnamed: 0  Adj Close**  Close   High    Low   Open   Ticker      time
0           0        24.13  25.70  26.48  20.53  20.92  AALB.AS  20200401
1           1        37.57  40.01  40.92  37.08  38.59  AALB.AS  20191201
2           2        31.69  33.75  43.11  32.96  39.57  AALB.AS  20200201
3           3        37.11  39.52  41.06  39.13  40.01  AALB.AS  20200101
4           4        28.37  29.19  30.89  24.75  25.00  AALB.AS  20200601

In [25]:
type(stock_data)

pandas.core.frame.DataFrame

In [27]:
columns = ['Ticker', 'time', 'Open', 'High', 'Low','Close']
stock_data = stock_data[columns]
#stock_data.rename(columns = {'Ticker' : 'ticker'}, {'Open' : 'open'}, {'High' : 'high'}, {'Low' : 'low'}, {'Close' : 'close'})

stock_data.head(10)

    Ticker      time   Open   High    Low  Close
0  AALB.AS  20200401  20.92  26.48  20.53  25.70
1  AALB.AS  20191201  38.59  40.92  37.08  40.01
2  AALB.AS  20200201  39.57  43.11  32.96  33.75
3  AALB.AS  20200101  40.01  41.06  39.13  39.52
4  AALB.AS  20200601  25.00  30.89  24.75  29.19
5  AALB.AS  20200301  34.51  34.68  16.16  21.64
6  AALB.AS  20200501  24.74  25.60  21.15  24.65
7  AALB.AS  20191101  36.15  39.80  36.01  38.45
8  AALB.AS  20191001  36.40  37.96  34.05  36.06
9   ABN.AS  20200401   7.24   8.30   6.23   7.00

In [30]:
new_table = pd.merge(return_data, on='Ticker', how='left', indicator=True)
new_table.head(5)

TypeError: merge() missing 1 required positional argument: 'right'