In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from time import mktime
import time
import re
from io import StringIO
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import selenium
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time
from selenium.webdriver.chrome.options import Options
options = Options()
# wait = WebDriverWait(driver, 20)
import os

In [4]:
driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')

In [6]:
driver.get(url)

In [5]:
url = 'https://finance.yahoo.com/quote/AF.PA/financials?p=AF.PA'

In [7]:
element = driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/div/div/section/div[1]/div[2]/button')

In [8]:
element.click()

In [9]:
html = driver.execute_script("return document.body.innerHTML;")

In [105]:
soup = BeautifulSoup(html, 'html.parser')
table_tag = soup.find('div', class_='D(tbrg)')


table_tag = BeautifulSoup(str(table_tag), 'html.parser')

rows = table_tag.find_all('div', attrs={'class':'D(tbr) fi-row Bgc($hoverBgColor):h'})
# table_tag = BeautifulSoup(str(table_tag), 'html.parser')
# rows = table_tag.find_all('tr', attrs={'class':'BdT Bdc($seperatorColor) Ta(end) Fz(s) Whs(nw)'})

df = pd.DataFrame()

for row in rows:
    time = row.find_all('span', attrs={'class':'Va(m)'})
#     time = row.find_all('div', attrs={'class':'D(ib) Va(m) Ell Mt(-3px) W(215px)--mv2 W(200px) undefined'})
    
    cells = row.find_all('div', attrs={'class':['Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(140px)--pnclg Bgc($lv1BgColor) fi-row:h_Bgc($hoverBgColor) D(tbc)'
    ,'Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(140px)--pnclg D(tbc)']})
    
    d = {
    'Category' : re.search('>(.+?)<', str(time)).group(1),     
    'Q2 2020' : cells[0].text,
    'Q1 2020' : cells[1].text,
    'Q4 2019' : cells[2].text,
    'Q3 2019' : cells[3].text,
    'Q2 2019' : cells[4].text,
    }

    df = df.append(d, ignore_index=True)

In [116]:
df2 = df.T

In [120]:
pd.DataFrame(df.set_index('Category').T)

Category,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,Diluted NI Available to Com Stockholders,...,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
Q1 2020,"1,181,000","1,910,000","-729,000","775,000","-1,504,000","-111,000","-2,512,000","81,000","-2,621,000","-2,621,000",...,"-2,413,000",-,"1,910,000","773,000","-2,612,000","-983,000","-983,000","-657,000",0,"-275,240"
Q2 2019,"7,696,000","5,316,000","2,380,000","1,500,000","880,000","-145,000","464,000","103,000","378,000","378,000",...,"571,000",-,"5,316,000","746,000","366,000","-86,000","-86,000","1,403,000",0,"-19,091"
Q2 2020,"20,427,000","16,790,000","3,637,000","5,220,000","-1,583,000","-432,000","-3,591,000","293,000","-3,914,000","-3,914,000",...,"-3,213,000","3,718,000","16,790,000","2,987,000","-3,896,000","-1,470,000","-1,470,000","1,298,000",0,"-411,600"
Q3 2019,"6,457,000","4,865,000","1,592,000","1,686,000","-94,000","29,000","96,000","-60,000","147,000","147,000",...,"160,000",-,"4,865,000","766,000","164,000","24,000","24,000","902,000",0,"7,440"
Q4 2019,"5,020,000","4,556,000","464,000","1,365,000","-901,000","-119,000","-1,622,000","173,000","-1,801,000","-1,801,000",...,"-1,533,000",-,"4,556,000","754,000","-1,801,000","-455,000","-455,000","-324,000",0,"-127,400"

In [112]:
df2.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,30
0,index,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,30
1,Category,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minor...,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
2,Q1 2020,"1,181,000","1,910,000","-729,000","775,000","-1,504,000","-111,000","-2,512,000","81,000","-2,621,000",...,"-2,413,000",-,"1,910,000","773,000","-2,612,000","-983,000","-983,000","-657,000",0,"-275,240"
3,Q2 2019,"7,696,000","5,316,000","2,380,000","1,500,000","880,000","-145,000","464,000","103,000","378,000",...,"571,000",-,"5,316,000","746,000","366,000","-86,000","-86,000","1,403,000",0,"-19,091"
4,Q2 2020,"20,427,000","16,790,000","3,637,000","5,220,000","-1,583,000","-432,000","-3,591,000","293,000","-3,914,000",...,"-3,213,000","3,718,000","16,790,000","2,987,000","-3,896,000","-1,470,000","-1,470,000","1,298,000",0,"-411,600"
5,Q3 2019,"6,457,000","4,865,000","1,592,000","1,686,000","-94,000","29,000","96,000","-60,000","147,000",...,"160,000",-,"4,865,000","766,000","164,000","24,000","24,000","902,000",0,"7,440"
6,Q4 2019,"5,020,000","4,556,000","464,000","1,365,000","-901,000","-119,000","-1,622,000","173,000","-1,801,000",...,"-1,533,000",-,"4,556,000","754,000","-1,801,000","-455,000","-455,000","-324,000",0,"-127,400"

In [9]:
ticker = 'AF.PA'

In [58]:
# def login(ticker):
try:
    driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')
    driver.get(url)
    element = driver.find_element_by_xpath('/html/body/div/div/div/div/div[3]/div/form/button[1]')
    element.click()
    print('Success')
except NoSuchElementException:
    print('Success')
    pass

Success

In [55]:
def get_data(ticker,driver):
    
#     driver = webdriver.Chrome('./chromedriver_win32/chromedriver.exe')
    
    url = 'https://finance.yahoo.com/quote/{0}/financials?p={0}'.format(ticker)
    
#     try:
#         driver.get(url)
#         element = driver.find_element_by_xpath('/html/body/div/div/div/div/div[3]/div/form/button[1]')
#         element.click()
        
#     except NoSuchElementException:
    driver.get(url)
    element = driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/div/div/section/div[1]/div[2]/button')
    element.click()
    
    timeout = 10
    
    WebDriverWait(driver, timeout)

    html = driver.execute_script("return document.body.innerHTML;")

    soup = BeautifulSoup(html, 'html.parser')
    table_tag = soup.find('div', class_='D(tbrg)')

    table_tag = BeautifulSoup(str(table_tag), 'html.parser')

    rows = table_tag.find_all('div', attrs={'class':'D(tbr) fi-row Bgc($hoverBgColor):h'})

    df = pd.DataFrame()

    for row in rows:
        time = row.find_all('span', attrs={'class':'Va(m)'})

        cells = row.find_all('div', attrs={'class':['Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(140px)--pnclg Bgc($lv1BgColor) fi-row:h_Bgc($hoverBgColor) D(tbc)'
        ,'Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(140px)--pnclg D(tbc)']})

        d = {
        
        'Category' : re.search('>(.+?)<', str(time)).group(1),     
        'Q2 2020' : cells[0].text,
        'Q1 2020' : cells[1].text,
        'Q4 2019' : cells[2].text,
        'Q3 2019' : cells[3].text,
        'Q2 2019' : cells[4].text,
          
        }

        df = df.append(d, ignore_index=True)
        
    df.set_index('Category',inplace=True)
    df = df.T
    df['Ticker'] = ticker
    return df

In [157]:
element = driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/div/div/section/div[1]/div[2]/button')

In [59]:
df = get_data(ticker,driver)

In [60]:
df

Category,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,Diluted NI Available to Com Stockholders,...,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,Ticker
Q1 2020,"27,189,000","20,210,000","6,979,000","6,122,000","857,000","-402,000","346,000","76,000","273,000","273,000",...,-,"20,210,000","2,987,000","290,000","-35,000","-35,000","3,753,000",0,"-7,700",AF.PA
Q2 2019,"24,846,000","18,472,000","6,374,000","5,425,000","949,000","-339,000","823,000","294,000","767,000","767,000",...,-,"18,472,000","1,665,000","522,000","310,000","310,000","2,407,000",0,"110,980",AF.PA
Q2 2020,"20,427,000","16,790,000","3,637,000","5,220,000","857,000","-432,000","-3,591,000","293,000","-3,914,000","-3,914,000",...,"3,718,000","20,079,000","2,987,000","-3,896,000","-1,470,000","-1,470,000","1,298,000",0,"-411,600",AF.PA
Q3 2019,"25,784,000","18,895,000","6,889,000","7,297,000","-408,000","-284,000","-517,000","-229,000","-299,000","-299,000",...,-,"18,895,000","1,776,000","-266,000","-22,000","-22,000","1,465,000",0,"-7,333",AF.PA
Q4 2019,"26,515,000","19,541,000","6,974,000","5,636,000","1,338,000","-559,000","623,000","227,000","372,000","372,000",...,-,"19,541,000","2,885,000","409,000","27,000","27,000","3,935,000",0,"9,855",AF.PA

In [43]:
df.set_index('Category',inplace=True)
df.T

Category,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,Diluted NI Available to Com Stockholders,...,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
Q1 2020,"27,189,000","20,210,000","6,979,000","6,122,000","857,000","-402,000","346,000","76,000","273,000","273,000",...,"731,000",-,"20,210,000","2,987,000","290,000","-35,000","-35,000","3,753,000",0,"-7,700"
Q2 2019,"24,846,000","18,472,000","6,374,000","5,425,000","949,000","-339,000","823,000","294,000","767,000","767,000",...,"1,052,000",-,"18,472,000","1,665,000","522,000","310,000","310,000","2,407,000",0,"110,980"
Q2 2020,"20,427,000","16,790,000","3,637,000","6,253,000","-1,583,000","-402,000","-3,591,000","293,000","273,000","-3,914,000",...,"-3,213,000","3,718,000","16,790,000","2,987,000","-3,896,000","-35,000","-1,470,000","1,298,000",0,"-411,600"
Q3 2019,"25,784,000","18,895,000","6,889,000","7,297,000","-408,000","-284,000","-517,000","-229,000","-299,000","-299,000",...,"-333,000",-,"18,895,000","1,776,000","-266,000","-22,000","-22,000","1,465,000",0,"-7,333"
Q4 2019,"26,515,000","19,541,000","6,974,000","5,636,000","1,338,000","-559,000","623,000","227,000","372,000","372,000",...,"1,077,000",-,"19,541,000","2,885,000","409,000","27,000","27,000","3,935,000",0,"9,855"
Ticker,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,...,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA,AF.PA